@import url("cabecalho.css");
@import url("secao-1.css");
@import url("secao-2.css");
@import url("secao-3.css");
@import url("footer.css");

/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hidden {
    display: none;
}